{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!-- FontAwsome -->
        <script src="{% static 'js/fontawesomeKit.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/googleFonts.css' %}">

        <!-- JS -->
        <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <!-- select2 -->
        <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">

        <!-- DatePicker -->
        <link rel="stylesheet" href="{% static 'css/datapicker.min.css' %}">
        <!-- <script src="{% static 'js/datepicker.min.js' %}"></script> -->

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block css %}

        <!-- <style>
            #id_img {
                background-image: url("{% static 'img/logogrande.png' %}");
                background-repeat: no-repeat;
                vertical-align: middle;
                background-position: center;
                height: 500px;
                opacity: 0.2;
            }
        </style> -->

        {% endblock %}

        <title> {% block title %} Original Bebedouros {% endblock title%} </title>
    </head>

    <body class="bg-light">

        {% block base %}
        {% endblock %}
        {% block script %}
        {% endblock %}

        <!-- <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script> -->
        <script src="{% static 'js/datatables.min.js' %}"></script>
        <script src="{% static 'js/moment.min.js' %}"></script>
    </body>

</html>