{% extends 'base.html' %}

{% load static notifications_tags %}

{% block title %}Original{% endblock %}

{% block base %}

<header class="bg-white">
    <div class="container">
        <nav class="d-flex align-items-center justify-content-between p-2">
            <div class="d-none d-md-block ms-2">
                <a class="logo d-flex gap-2 text-decoration-none" href="/">
                    <img src="{% static 'img/logo.png' %}">
                    <h6 class="m-auto ps-1 fs-5 text-dark text-uppercase">Original</h6>
                </a>
            </div>
            <button class="d-block d-md-none navbar-toggler collapsed border-0 " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false">
                <div class="nav-item">
                    <i class="fas fa-bars"></i>
                </div>
            </button>
            <div class="d-flex">
                <div class="nav-item dropdown">
                    {% show_notifications request.user %}
                </div>
                <a class="text-decoration-none text-muted m-auto" id="idimage" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">{{ request.user }}<span class="position-absolute"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="idimage">
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sair</a></li>
                </ul>
            </div>
        </nav>
        <div class="navbar-collapse collapse justify-content-end" id="navbarCollapse">
            <div class="subBar bg-white align-items-start">
                <div class="card p-3 w-100 h-100">
                    {% if 'compra' in perms %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Compra</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'fornecedor:fornecedorList' %}">Fornecedor</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'compra:compraList' %}">Pedido</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                    {%if 'venda' in perms%}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Venda</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'cliente:clienteList' %}">Clientes</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'venda:vendaList' %}">Pedidos</a></li>
                            <li><a class="dropdown-item" href="{% url 'venda:relatorios' %}">Relatórios</a>
                            </li>
                            <li><a class="dropdown-item"
                                    href="{% url 'financeiro:comissaoVendedorList' %}">Comissões</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="{% url 'representante:representantesList' %}">Representante
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {%if 'mercadolivre' in perms%}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Mercado Livre</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'mercadolivre:contas' %}">Contas</a></li>
                    </li>
                    </ul>
                    </li>
                    {%endif%}
                    {% if 'compra' in perms or 'producao' in perms %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Estoque</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'estoque:estoqueList' %}">Conferir Estoque</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url  'produto:pecaList' %}">Peças</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url  'produto:produtoList' %}">Produtos</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'producao:estoqueReal' %}">Vendas Real</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'producao:previsaoEstoque' %}">Previsão</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if 'financeiro' in perms %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Financeiro</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'despesa:fluxodecaixa' %}">Fluxo de
                                    Caixa(Calendário)</a></li>
                            <li><a class="dropdown-item" href="{% url 'financeiro:fluxoCaixaExtratoBancario' %}">Fluxo
                                    de
                                    Caixa (Extrato Bancário)</a></li>
                            <li><a class="dropdown-item" href="{% url 'despesa:despesaList' %}">Despesas</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'receita:receitaList' %}">Receitas</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'financeiro:contasapagar' %}">Contas a Pagar</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'financeiro:contasareceber' %}">Contas a
                                    Receber</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'financeiro:extratoUpload' %}">Importar
                                    Extrato</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'financeiro:extratoConciliar' %}">Conciliar</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'venda:boletoList' %}">Boletos</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'notafiscal:nfcompraList' %}">Notas Fiscais</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'notafiscal:notafiscalList' %}">Baixar Notas
                                    Fiscais</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                    {%if 'producao' in perms%}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Produção</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url  'producao:iniciarProducao' %}">Iniciar
                                    Produção</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url  'producao:chaodeFabrica' %}">Chão de
                                    Fabrica</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url  'producao:enviarExpedicao' %}">Enviar
                                    Expedição</a>
                            </li>
                        </ul>
                    </li>
                    {%endif%}
                    {%if 'venda' in perms%}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Expedição</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'expedicao:listaExpedicao' %}">Listar
                                    Expedição</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if 'garantia' in perms %}
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Atendimento</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'suporte:suporteList' %}">Listar</a>
                            </li>
                            <li><a class="dropdown-item" href="">Solicitação</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<hr class="m-0 d-none d-md-block">
<div class="container-fluid bg-white shadow-lg">
    <div class="subBar container d-none d-md-block">
        <div class="row">
            <div class="d-flex justify-content-evenly align-items-center flex-wrap">
                {%if 'compra' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/compra.png' %}" alt="" height="25" width="25">
                        Compra </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'fornecedor:fornecedorList' %}">Fornecedor</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'compra:compraList' %}">Pedido</a></li>
                    </ul>
                </li>
                {%endif%}
                {%if 'venda.add_venda' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/venda.png' %}" alt="" height="25" width="25">
                        Venda</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'cliente:clienteList' %}">Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'venda:vendaList' %}">Pedidos</a></li>
                        <li><a class="dropdown-item" href="{% url 'venda:relatorios' %}">Relatórios</a></li>
                        <li><a class="dropdown-item" href="{% url 'financeiro:comissaoVendedorList' %}">Comissões</a>
                        <li>
                            <a class="dropdown-item" href="{% url 'representante:representantesList' %}">Representante
                            </a>
                        </li>
                    </ul>
                </li>
                {%endif%}
                {%if 'mercadolivre' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="XNo5Ab"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAA3lBMVEX/0QD/0gD/1QD/1gDzxx3Fo0GnjFGgh1WchFX6zRGqjk+3mUblvST/1wCylEz/0wD8zQDxxACvkk5ya3+Ve0KXg22cnbi2utWlqsqRhn3Fnxv/2QDTrBZRSGSOipz////3+f+Wkp+YhmZ6eZdvdajT1N/c3++dlZWamrDAw9uDhaiPkK/lugzJzeDBwtGoqL+hhTypiTXs7PGMjKaVfljDw9N7f6iMeF7UrzNKRm9qXWZZVXd4aGFzZGcUI3yEclsrMHkvNHXIpjolLHoAAIF/bmNBQHEACH4PIHxlWWwvPUKJAAABXklEQVR4AcWRBWLDMAxFHSnlek4ZnNUpMzMz3f9CU92MD9AfzhOLvVQGuDL+EzQ9Xp/f7/N6TPzNIRD0hcIMkIMRDvmCAfh2wzdvAEEYaEUsBMCAN8pdZ2HF4gH9L5FMpTNZSi7td0toPyunnFS+UCiWlCorVUlWq7W6ylkPX0woLSepyo1yk/BTCaSgrbbS6nSbHf1wYbslGPTqjvqpcvL5rPSAgbfVz6R/8kGD3IajrBcYjh519prJZHKg2dhRk6mNyEfIIDoDZsikcpxuk5ijkoN6iyLOovTfnEsqy14Q6CapoIpaeqhQOTcNuq9GRIEVag7hrmrkbU5/R2uph7DZcoqArV66PknFopJa4NtNQA9QmLv9QaIQvNWyWggC5WF/NIU7XGN72nvDXGrxsHd/OjPxtRYZ3m5Op8titVpcrqfbOSx/blRwKn26vt/XU2qNu24/OCCnoJSTvVIftHItEPgMLlgAAAAASUVORK5CYII="
                            style="height:26px;width:26px" alt="" data-atf="1" data-frt="0">
                        Mercado Livre</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mercadolivre:contas' %}">Contas</a></li>
                    </ul>
                </li>
                {%endif%}
                {%if 'compra' in perms or 'producao' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/estoque.png' %}" alt="" height="25" width="25">
                        Estoque</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'estoque:estoqueList' %}">Conferir Estoque</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url  'produto:pecaList' %}">Peças</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url  'produto:produtoList' %}">Produtos</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'producao:estoqueReal' %}">Vendas Real</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'producao:previsaoEstoque' %}">Previsão</a>
                        </li>
                    </ul>
                </li>
                {%endif%}
                {%if 'financeiro' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/financeiro.png' %}" alt="" height="25" width="25">
                        Financeiro</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'despesa:fluxodecaixa' %}">Fluxo de
                                Caixa(Calendário)</a></li>
                        <li><a class="dropdown-item" href="{% url 'financeiro:fluxoCaixaExtratoBancario' %}">Fluxo de
                                Caixa (Extrato Bancário)</a></li>
                        {%if 'financeiro.view_contapagar' in perms %}<li><a class="dropdown-item"
                                href="{% url 'despesa:despesaList' %}">Despesas</a></li>{%endif%}
                        {%if 'financeiro.view_contareceber' in perms %}<li><a class="dropdown-item"
                                href="{% url 'receita:receitaList' %}">Receitas</a></li>{%endif%}
                        {%if 'financeiro.view_contapagar' in perms %}<li><a class="dropdown-item"
                                href="{% url 'financeiro:contasapagar' %}">Contas a Pagar</a></li>{%endif%}
                        {%if 'financeiro.view_contareceber' in perms %}
                        <li><a class="dropdown-item" href="{% url 'financeiro:contasareceber' %}">Contas a Receber</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'financeiro:extratoUpload' %}">Importar
                                Extrato</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'financeiro:extratoConciliar' %}">Conciliar</a>
                        </li>
                        {%endif%}

                        {%if 'financeiro.view_contareceber' in perms %}
                        <li><a class="dropdown-item" href="{% url 'venda:boletoList' %}">Boletos</a>
                        </li>{%endif%}
                        {%if 'financeiro.view_contapagar' in perms %}<li><a class="dropdown-item"
                                href="{% url 'notafiscal:nfcompraList' %}">Notas Fiscais</a></li>{%endif%}
                        {%if 'financeiro.view_contapagar' in perms %}<li><a class="dropdown-item"
                                href="{% url 'notafiscal:notafiscalList' %}">Baixar Notas Fiscais</a></li>{%endif%}
                    </ul>
                </li>
                {%endif%}
                {%if 'producao' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/producao.png' %}" alt="" height="25" width="25">
                        Produção</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url  'producao:iniciarProducao' %}">Iniciar Produção</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url  'producao:chaodeFabrica' %}">Chão de Fabrica</a></li>
                        <li><a class="dropdown-item" href="{% url  'producao:enviarExpedicao' %}">Enviar Expedição</a>
                        </li>
                    </ul>
                </li>
                {%endif%}
                {%if 'venda.view_venda' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/expedicao.png' %}" alt="" height="40" width="30">
                        Expedição</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'expedicao:listaExpedicao' %}">Listar Expedição</a>
                        </li>
                        {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url 'expedicao:listaPosVendaOriginal' %}">Listar
                                Pos Venda Original</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'expedicao:listaPosVendaDistribuidora' %}">Listar
                                Pos Venda Distribuidora</a>
                        </li>
                        {%endif%}
                        <li><a class="dropdown-item"
                                href="{% url  'transportadora:transporteList' %}">Transportadoras</a>
                        </li>
                    </ul>
                </li>
                {%endif%}
                {%if 'garantia' in perms%}
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'img/icons/garantia.png' %}" alt="" height="25" width="25">
                        Atendimento</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'suporte:suporteList' %}">Listar </a>
                        </li>
                        <li><a class="dropdown-item" href="">Solicitação</a>
                        </li>
                    </ul>
                </li>
                {%endif%}
            </div>
        </div>
    </div>
</div>
<main class="mb-5 pt-3 pb-5">
    {% block index %}
    {% endblock %}
</main>
</body>
{% endblock %}