{% extends 'index.html' %}

{% load static %}

<title> {% block title %} TimeLine Garantia {% endblock title%} </title>

{% block index %}

<div class="container my-2">
    {% for d in dados %}
    <div class="card">
        <div class="card-header d-flex flex-wrap justify-content-center justify-content-lg-between">
            <h5>PRODUTO EM GARANTIA</h5>
            <h6 class="align-middle mt-lg-2">Há {{ dias|default:"0" }} dias em conserto</h6>
            <h6 class="align-middle mt-lg-2">Pedido aberto em {{ d.data|date:"d/m/Y H:m" }}</h6>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">{{ d.garantia.produto }}</h5>
                <h5 class="card-title">Venda: {{ d.garantia.produto.venda }}</h5>
            </div>
            <div class="form-floating">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <label class="text-muted">Cliente</label>
                        <h6>{{ d.garantia.produto.venda.cliente }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted">Telefone</label>
                        <h6>{{ d.garantia.produto.venda.cliente.tel_principal }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted">Pedido da compra</label>
                        <h6>{{ d.garantia.produto.venda.data_pedido|date:"d/m/Y" }}</h6>
                    </div>
                    <div id="status" class="col-12 col-lg-2 text-center bg-warning bg-opacity-25 rounded">
                        <label class="text-muted">Status do pedido</label>
                        <h6 id="garantiaStatus">{{ d.garantia.status }}</h6>
                    </div>
                    <div class="col-12 col-lg-4">
                        <label class="text-muted">Rua</label>
                        <h6>{{ d.garantia.produto.venda.cliente.logradouro }}</h6>
                    </div>
                    <div class="col-2 col-lg-1">
                        <label class="text-muted">Número</label>
                        <h6>{{ d.garantia.produto.venda.cliente.numero }}</h6>
                    </div>
                    <div class="col-3 col-lg-1">
                        <label class="text-muted">Complemento</label>
                        <h6>{{ d.garantia.produto.venda.cliente.complemento }}</h6>
                    </div>
                    <div class="col-7 col-lg-2">
                        <label class="text-muted">Bairro</label>
                        <h6>{{ d.garantia.produto.venda.cliente.bairro }}</h6>
                    </div>
                    <div class="col-8 col-lg-3">
                        <label class="text-muted">Cidade/UF</label>
                        <h6>
                            {{ d.garantia.produto.venda.cliente.cidade }}/
                            {{ d.garantia.produto.venda.cliente.estado}}
                        </h6>
                    </div>
                    <div class="col-4 col-lg-1">
                        <label class="text-muted">Cep</label>
                        <h6 style="font-size:14px;">{{ d.garantia.produto.venda.cliente.cep }}</h6>
                    </div>
                    <div class="col-6 col-lg-3">
                        <label class="text-muted">Vendedor</label>
                        <h6>{{ d.garantia.produto.venda.vendedor }}</h6>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label class="text-muted">Transportadora</label>
                        <h6>{{ d.garantia.produto.venda.transportadora }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 mt-2">
                {{ form }}
            </div>
        </div>
        <h6 class="label-color pt-2">Atualizado: {{ d.atualizadopor }}</h6>
        <div class="d-flex float-end mb-5">
            <div class="col-3 d-flex gap-2 align-middle">
                <div class="form-group form-button d-flex gap-2">
                    <input type="submit" class="btn btn-primary btn-sm" value="Salvar" id="id_salvar" />
                </div>
            </div>
        </div>
    </form>
    {% endfor %}
</div>

{% endblock %}


{% block script %}

<script>
    var a = document.getElementById("garantiaStatus");
    var b = document.getElementById("status");
    if (a.innerHTML == 'Concluído') {
        console.log(a.innerHTML)
        b.setAttribute('class', "col-12 col-lg-2 text-center bg-success bg-opacity-25 rounded")
    }
</script>

{% endblock %}