{% extends 'index.html' %}

{% load static %}

<title> {% block title %} Garantia {% endblock title%} </title>


{% block index %}

<div class="container">
    <div class="filters card border-1">
        <div class="card-header d-flex justify-content-between">
            <label class="fs-5 fw-bold">PRODUTOS NA GARANTIA</label>
        </div>
        <div class="p-3">
            <table class="table table-sm" id="id_table">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Produto</th>
                        <th>Venda</th>
                        <th>Cliente</th>
                        <th>Data compra</th>
                        <th>Vendedor</th>
                        <th>Status</th>
                        <th>TimeLine</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td class="ps-4">{{ obj.id }}</td>
                        <td>{{ obj.produto }}</td>
                        <td>{{ obj.produto.venda }}</td>
                        <td>{{ obj.produto.venda.cliente|truncatechars:40 }}</td>
                        <td>{{ obj.produto.venda.data_pedido|date:"d/m/y" }}</td>
                        <td>{{ obj.produto.venda.vendedor }}</td>
                        <!-- <td id="status" class="bg-danger bg-opacity-50">{{ obj.status }}</td> -->
                        <td>{{ obj.status }}</td>
                        <td class="text-center pe-5">
                            <a href="{% url 'garantia:garantiaTimeLineList' garantia=obj.id %}">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jqueryDataTable.js' %}"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#id_table').DataTable({
            "language": {
                "sProcessing": "Proccesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Nenhum resultado encontrado",
                "sEmptyTable": "Nenhum dado disponivel",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de um total de 0 registros",
                "sInfoFiltered": "(filtrado de um total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Carregando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Seguinte",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Ativar para ordenar a coluna de maneira ascendente",
                    "sSortDescending": ": Ativar para ordenar a coluna de maneira descendente"
                }
            }
        });
    });
</script>


{% endblock %}