{% extends 'index.html' %}

{% load static %}

<title> {% block title %} Vendas {% endblock title%} </title>


{% block index %}

<div class="container">
    <form class="row justify-content-between" id="myForm" method="GET"></form>
    <div class="card mb-2">
        <div class="card-header">
            <h6 class="text-center text-lg-start text-muted mb-0">VENDAS NO ANO</h6>
        </div>
        <div class="card-body pt-2">
            <div class="justify-content-between justify-content-lg-end mb-1 pe-lg-4">
                <div class="row justify-content-end" id="myForm" method="GET">
                    <div class="col-7 col-lg-3 p-0 pe-1">
                        <label for="">SELECIONE O VENDEDOR</label>
                        <select class="form-select form-select-sm" name="vendedor" id="id_vendedor" onchange="filtro()">
                            <option value="0">ORIGINAL</option>
                            {% for id, nome in vendedores.items %}
                            <option value="{{ id }}">{{ nome|title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-5 col-lg-2 p-0">
                        <label for="">SELECIONE O ANO</label>
                        <select class="form-select form-select-sm" name="anos" id="id_anos" onchange="filtro()">
                            {% for ano in anos %}
                            <option value="{{ano}}">{{ano}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row gap-1 gap-lg-0 justify-content-center justify-content-lg-end pe-lg-4">
                <div class="col-lg-3 border rounded-3 mx-1 p-0">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-center">
                                <label class="text-muted"><b>Número de Vendas</b></label>
                            </div>
                            <div class="text-center d-none d-sm-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="icone bi bi-calendar-check" viewBox="0 0 25 20">
                                    <path
                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center justify-content-center ps-lg-0">
                            <div class="m-0">
                                <h5 id="id_vendas_ano" class="m-0 ms-2">{{ vendas_ano }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border rounded-3 p-0 me-1">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-center">
                                <label class="text-muted"><b>Produtos Vendidos</b></label>
                            </div>
                            <div class="text-center d-none d-sm-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="icone bi bi-cart-plus" viewBox="0 0 20 18">
                                    <path
                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center justify-content-center ps-lg-0">
                            <div class="m-0">
                                <h5 id="id_prod_ano" class="m-0 ms-2"> {{ produtos_ano }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border rounded-3 p-0">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="text-center">
                                <label class="text-muted"><b>Total das Vendas</b></label>
                            </div>
                            <div class="text-center d-none d-sm-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="icone bi bi-cash-coin" viewBox="0 0 25 20">
                                    <path fill-rule="evenodd"
                                        d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                    <path
                                        d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                    <path
                                        d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-center ps-lg-0">
                            <div class="m-0">
                                <h5 class="m-0" id="id_totalAno"> &nbspR$ {{ total_ano|floatformat:2 }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <br>
                    <canvas id="total_vendido_ano" width="100" height="25"></canvas>
                </div>
                <h5 id="id_mensagem_ano" class="text-center text-muted"></h5>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header d-flex justify-content-between pb-0">
            <h6 class="text-center text-lg-start text-muted mb-0">VENDAS NO MÊS</h6>
            <h5 class="text-muted">{{ ano }}</h5>
        </div>
        <div class="card-body pt-2">
            <div class="row justify-content-end mb-1 pe-lg-2" id="myForm" method="GET">
                <div class="col-6 col-lg-3 p-0">
                    <label for="">SELECIONE O MÊS</label>
                    <select class="form-select form-select-sm" name="meses" id="id_meses" onchange="filtro()">
                        {% for mes in meses %}
                        <option value="{{mes}}">{{mes}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row gap-1 gap-lg-0 justify-content-center justify-content-lg-end pe-lg-2">
                <div class="col-lg-3 border rounded-3 mx-1 p-0">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-center">
                                <label class="text-muted"><b>Número de Vendas</b></label>
                            </div>
                            <div class="text-center d-none d-sm-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="icone bi bi-calendar-check" viewBox="0 0 25 20">
                                    <path
                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center justify-content-center ps-lg-0">
                            <div class="m-0">
                                <h5 id="id_vendas_mes" class="m-0 ms-2">{{ vendas_mes }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border rounded-3 p-0 me-1">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-center">
                                <label class="text-muted"><b>Produtos Vendidos</b></label>
                            </div>
                            <div class="text-center d-none d-sm-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="icone bi bi-cart-plus" viewBox="0 0 20 18">
                                    <path
                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex align-items-center justify-content-center ps-lg-0">
                            <div class="m-0">
                                <h5 id="id_prod_mes" class="m-0 ms-2">{{ produtos_mes }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border rounded-3 p-0">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="text-center">
                                <label class="text-muted"><b>Total das Vendas</b></label>
                            </div>
                            <div class="text-center d-none d-sm-block">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="icone bi bi-cash-coin" viewBox="0 0 25 20">
                                    <path fill-rule="evenodd"
                                        d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                    <path
                                        d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                    <path
                                        d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h5.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                    <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                </svg>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center justify-content-center ps-lg-0">
                            <div class="m-0">
                                <h5 id="id_totalMes" class="m-0"> &nbspR$ {{ total_mes }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-lg-4">
                <br>
                <canvas id="total_vendido_mes" width="100" height="25"></canvas>
            </div>
            <h5 id="id_mensagem_mes" class="text-center text-muted"></h5>
        </div>
        <br>
    </div>
    </form>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/chart.umd.min.js ' %}"></script>
<script src="{% static 'js/chartjs-adapter-date-fns.bundle.min.js' %}"></script>
<script src="{% static 'js/js.js' %}"></script>

<script>
    window.onload = function () {
        renderiza_total_vendido_ano('{% url "venda:total_vendido_ano" %}');
        renderiza_total_vendido_mes('{% url "venda:total_vendido_mes" %}');
    }

    function filtro() {
        var vendedorSelected = document.getElementById("id_vendedor")
        var vendedor = vendedorSelected.options[vendedorSelected.selectedIndex].value;
        var anoSelected = document.getElementById("id_anos")
        var ano = anoSelected.options[anoSelected.selectedIndex].value;
        var mesSelect = document.getElementById("id_meses");
        var mes = mesSelect.options[mesSelect.selectedIndex].value;
        var url = '{% url "venda:meses_ajax" %}'

        $.ajax({
            type: 'GET',
            url: url,
            data: {
                vendedor: vendedor,
                ano: ano,
                mes: mes,
            },

            success: function (data) {
                const formatador = new Intl.NumberFormat('pt-BR', {
                    style: 'currency',
                    currency: 'BRL',
                    minimumFractionDigits: 2
                });

                total_ano = data.total_ano
                const numero_ano = Number(total_ano).toFixed(2);

                document.getElementById("id_totalAno").innerHTML = formatador.format(numero_ano); // "R$ 1.000,00"
                const ctx_ano = document.getElementById('total_vendido_ano').getContext('2d');

                // limpa o charts anterior
                let chartStatus_ano = Chart.getChart("total_vendido_ano");
                if (chartStatus_ano != undefined) {
                    chartStatus_ano.destroy();
                }
                document.getElementById("id_mensagem_ano").innerHTML = ''
                document.getElementById("id_vendas_ano").innerHTML = data.vendas_ano
                document.getElementById("id_prod_ano").innerHTML = data.produtos_ano
                if (data.total_ano !== 0) {  // Corrigi a verificação para usar !== ao invés de ==!
                    const myChart_ano = new Chart(ctx_ano, {
                        type: 'line',
                        data: {
                            labels: data.labels_ano,
                            datasets: [{
                                data: data.data_ano,
                                pointRadius: 4,
                                pointBackgroundColor: "rgba(0, 128, 0)",
                                backgroundColor: "rgba(0,0,255,1.0)",
                                borderColor: "rgba(0, 128, 0)",
                                borderWidth: 1
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    display: false
                                },
                            },
                            scales: {
                                x: {
                                    type: 'time',
                                    time: {
                                        unit: 'month',
                                        displayFormats: {
                                            month: 'MMM'  // Abreviação de três letras para os meses
                                        },
                                    },
                                    border: {
                                        width: 3
                                    },
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        font: {
                                            weight: 'bold'
                                        }
                                    }
                                },

                            }
                        }
                    });
                } else {
                    document.getElementById("id_mensagem_ano").innerHTML = data.mensagem_ano
                }

                total_mes = data.total_mes
                const numero_mes = Number(total_mes).toFixed(2);
                document.getElementById("id_totalMes").innerHTML = formatador.format(numero_mes); // "R$ 1.000,00"
                const ctx_mes = document.getElementById('total_vendido_mes').getContext('2d');

                let chartStatus_mes = Chart.getChart("total_vendido_mes");
                if (chartStatus_mes != undefined) {
                    chartStatus_mes.destroy();
                }
                document.getElementById("id_mensagem_mes").innerHTML = ''
                document.getElementById("id_vendas_mes").innerHTML = data.vendas_mes
                document.getElementById("id_prod_mes").innerHTML = data.produtos_mes
                if (!data.total_mes == 0) {
                    const myChart_mes = new Chart(ctx_mes, {
                        type: 'line',
                        data: {
                            labels: data.labels_mes,
                            datasets: [{
                                data: data.data_mes,
                                pointRadius: 4,
                                pointBackgroundColor: "rgba(0, 128, 0)",
                                backgroundColor: "rgba(0,0,255,1.0)",
                                borderColor: "rgba(0, 128, 0)",
                                borderWidth: 1
                            }]
                        },
                        options: {
                            plugins: {
                                legend: {
                                    display: false
                                },
                            },
                            scales: {
                                x: {
                                    type: 'time',
                                    time: {
                                        unit: 'day',
                                        displayFormats: {
                                            day: 'dd'
                                        },
                                    },
                                    border: {
                                        width: 3
                                    },
                                    grid: {
                                        display: false
                                    },
                                    ticks: {
                                        font: {
                                            weight: 'bold'
                                        }
                                    }
                                },
                                // x2: {
                                //     type: 'time',
                                //     time: {
                                //         unit: 'day',
                                //         displayFormats: {
                                //             day: 'eeeee'
                                //         },
                                //     },
                                //     border: {
                                //         display: false
                                //     },
                                //     grid: {
                                //         display: false
                                //     },

                                // },
                            }
                        }
                    })
                } else {
                    document.getElementById("id_mensagem_mes").innerHTML = data.mensagem_mes
                }
            }
        })
    }
</script>

{% endblock %}