{% extends 'index.html' %}

{% load static widget_tweaks %}

<title> {% block title %} Venda {% endblock title%} </title>

{% block index %}

<head>
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
</head>
<form method="post" enctype="multipart/form-data" id="form">
    <div class="container">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <label class="fs-5 fw-bold">{{ texto }} Pedido de Venda {{ id }}</label>
            </div>
            <div class="card-body label p-2 ">
                <div class="row mb-2">
                    <div class="col-11 col-lg-5">
                        <label for="id_cliente">Cliente</label>
                        {{ form.cliente }}
                    </div>
                    <div class="col-1 col-lg-1 p-0"><br />
                        <a href="/cliente/{{form.cliente.value}}/editar/" target="_blank"><svg
                                xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                                class="iconify iconify--mdi me-2" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.516 6.516 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5Z">
                                </path>
                            </svg>
                        </a>
                    </div>
                    <div class="col-12 col-lg-2">
                        <label for="id_vendedor">Vendedor</label>
                        {% if id %}
                        <div class="form-control form-control-sm">{{ form.instance.vendedor.username }}</div>
                        {% else %}
                        <div class="form-control form-control-sm">{{ request.user }}</div>
                        {% endif %}
                    </div>
                    <div class="col-6 col-lg-2 p-lg-0">
                        <label for="id_data_pedido">Pedido</label>
                        {{ form.data_pedido }}
                    </div>
                    <div class="col-6 col-lg-2">
                        <label for="id_data_entrega">Data de Produção</label>
                        {{ form.data_entrega }}
                    </div>
                    <div class="col-12 col-lg-4">
                        <label for="id_transportadora">Transportadora</label>
                        {{ form.transportadora }}
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="id_status_venda">Status</label>
                        {{ form.status_venda }}
                    </div>
                    {% if codigo %}
                    <div class="col-12 col-lg-5">
                        <label>Arquivos</label>
                        <input type="file" name="arquivo" multiple="" class="form-control form-control-sm"
                            id="id_arquivos">
                    </div>
                    <div class="row text-end pt-1 pe-0">
                        <p class="text12 mb-0 pe-0">
                            <label class="pe-2">Anexos</label>
                            {% for a in arquivos %}
                            <a class="text-decoration-none pe-1" href="/media/{{ a.arquivo }}" target="_blank">
                                {{ a.arquivo }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    {% endif %}
                    <div class="col-12 col-lg-12">
                        <label for="id_detalhes">Detalhes</label>
                        {{ form.detalhes }}
                    </div>
                    {% if form.codigo_mercadolivre.value %}
                    <div class="col-3">
                        <label for="id_codigomercadolivre">Código MercadoLivre</label>
                        {{ form.codigo_mercadolivre }}
                    </div>
                    <div class="col-3">
                        <label for="id_codigomercadolivre">NickName MercadoLivre</label>
                        {{ form.nickname_mercadolivre }}
                    </div>
                    <div class="col-3">
                        <label for="id_codigomercadolivre">Quem Recebe</label>
                        {{ form.quemrecebe_mercadolivre }}
                    </div>
                    <div class="col-3">
                        <label for="id_codigomercadolivre">Telefone Quem Recebe</label>
                        {{ form.telefonequemrecebe_mercadolivre }}
                    </div>
                    {% endif %}
                </div>
                {%if erros_NF%}
                <div class="alert alert-danger mb-2" role="alert">
                    Para emissão de NF falta:<br />
                    {%for erro in erros_NF%}
                    <label class="txred">{{erro}}</label><br />
                    {%endfor%}
                </div>
                {%endif%}
                {% include "venda/includes/dadosnf.html" %}
            </div>
            <div id="div_mensagem" class="hidden" role="alert">
                <label id="mensagem" class="txred"></label>
            </div>
            {% if produto %}
            {{ produto.management_form }}
            {% if produto.errors %}
            {% for field in produto %}
            <div class="alert alert-danger my-2">
                <p class="error txred mb-0" for="">Campos obrigatórios:</p>
                {% for error in field.errors %}
                <li class="error txred"><b>{{ error|escape }}</b></li>
                {% endfor %}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card my-2">
                <div class="card-header"><label class="fs-5 fw-bold">Produtos</label></div>
                <div class="card-body label py-0" id="produto-form-list">
                    {% for prod in produto %}
                    <div class="row produto-form">
                        {{ prod.id }}
                        <div class="col-12 col-lg-3 px-1">
                            {{ prod.produto.label_tag }}
                            {{ prod.produto }}
                        </div>
                        <div class="col-4 col-lg-1 px-0">
                            {{ prod.voltagem.label_tag }}
                            {{ prod.voltagem }}
                        </div>
                        <div class="col-4 col-lg-2 px-1">
                            {{ prod.torneira.label_tag }}
                            {{ prod.torneira }}
                        </div>
                        <div class="col-4 col-lg-2 px-1">
                            {{ prod.adesivado.label_tag }}
                            {{ prod.adesivado }}
                        </div>
                        <div class="col-3 col-lg-1 px-1">
                            {{ prod.quantidade.label_tag }}
                            {{ prod.quantidade }}
                        </div>
                        <div class="col-3 col-lg-1 px-1">
                            {{ prod.preco.label_tag }}
                            {{ prod.preco }}
                        </div>
                        <div class="col-4 col-lg-1 px-1">
                            {{ prod.subtotal.label_tag }}
                            {{ prod.subtotal }}
                        </div>
                        {% if codigo %}
                        <div class="col-2 col-lg-1 d-flex flex-column align-items-top p-0 pt-1" id="apagar">
                            <label class="mb-2 text-center" for="">Apagar </label>
                            {{ prod.DELETE}}
                        </div>
                        {% endif %}
                        <hr class="d-block d-lg-none mt-2 mb-0">
                    </div>
                    {% endfor %}
                </div>
                <div id='empty-produto' class="hidden">
                    {{ produto.empty_form.id }}
                    <div class="col-12 col-lg-3 px-1">
                        {{ produto.empty_form.produto.label_tag }}
                        {{ produto.empty_form.produto }}
                    </div>
                    <div class="col-4 col-lg-1 px-0">
                        {{ produto.empty_form.voltagem.label_tag }}
                        {{ produto.empty_form.voltagem }}
                    </div>
                    <div class="col-4 col-lg-2 px-1">
                        {{ produto.empty_form.torneira.label_tag }}
                        {{ produto.empty_form.torneira }}
                    </div>
                    <div class="col-4 col-lg-2 px-1">
                        {{ produto.empty_form.adesivado.label_tag }}
                        {{ produto.empty_form.adesivado }}
                    </div>
                    <div class="col-3 col-lg-1 px-1">
                        {{ produto.empty_form.quantidade.label_tag }}
                        {{ produto.empty_form.quantidade }}
                    </div>
                    <div class="col-3 col-lg-1 px-1">
                        {{ produto.empty_form.preco.label_tag }}
                        {{ produto.empty_form.preco }}
                    </div>
                    <div class="col-6 col-lg-1 px-1">
                        {{ produto.empty_form.subtotal.label_tag }}
                        {{ produto.empty_form.subtotal }}
                    </div>
                    {% if codigo %}
                    <div class="col-2 col-lg-1 d-flex flex-column align-items-top p-0 pt-1">
                        <label class="mb-2 text-center" for="">Apagar </label>
                        {{ produto.empty_form.DELETE}}
                    </div>
                    {% endif %}
                    <hr class="d-block d-lg-none mt-2 mb-0">
                </div>
                <div class="btnMaster p-0 ps-2"><button id="add-produto" class="btnMaster btn btn-sm"
                        type="button">Adicionar
                        novo produto</button><i class="fa fa-plus-square" aria-hidden="true"></i>
                </div>
                <div class="card-header border-0">
                    <div class="row justify-content-end label">
                        <div class="col-4 col-lg-2 px-1">
                            <label for="id_valor_venda">Valor da Venda</label>
                            {{ form.valor_venda }}
                        </div>
                        <div class="col-4 col-lg-1 px-1">
                            <label for="id_porcentagem_desconto">Desconto</label>
                            {{ form.porcentagem_desconto }}
                        </div>
                        <div class="col-4 col-lg-1 px-1">
                            <label for="id_valor_frete">Frete</label>
                            {{ form.valor_frete }}
                        </div>
                        <!-- <div class="col-4 col-lg-2 px-1">
                            <label for="id_valor_frete">Cotação Transportadora</label>
                            {{ form.cotacao_transportadora }}
                        </div> -->
                        <div class="col-4 col-lg-2 px-1">
                            <label for="id_subtotal">Total</label>
                            {{ form.subtotal }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="div_mensagem2" class="hidden" role="alert">
                <label id="mensagem2" class="error txred"></label>
            </div>
            {% endif %}
            {% if codigo %}
            <div id="id_codigo" class="hidden">{{ codigo }}</div>
            <div class="card my-2">
                <div class="card-header"><label class="fs-5 fw-bold">Parcelas</label></div>
                <div class="row label justify-content-evenly justify-content-lg-start mx-2 mb-2">
                    <div class="col-12 col-lg-3 pe-lg-0 p-0">
                        <label for="id_condicaopgto">Condição</label>
                        {{ form.condicaopgto }}
                        <input type="hidden" name="condicaopgto" value="{{ form.condicaopgto.value }}">
                    </div>
                    <div class="col-4 col-lg-1 pe-lg-0">
                        <label for="id_parcelas" class="text-center">Parcelas</label>
                        {{ form.parcelas }}
                    </div>
                    <div class="col-6 col-lg-2 pe-lg-0">
                        <label for="id_parcelas">Forma Pagamento</label>
                        {{ form.formapgto }}
                        <input type="hidden" name="formapgto" value="{{ form.formapgto.value }}">
                    </div>
                    <div class="col-4 col-lg-2 pt-lg-0">
                        <label for="id_dias_prim_par">Dias primeira</label>
                        {{ form.dias_prim_par }}
                    </div>
                    <div class="col-6 col-lg-2 p-lg-0">
                        <label for="id_dias_outras_par">Dias demais parcelas</label>
                        {{ form.dias_outras_par }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card my-2">
                <div class="card-header"><label class="fs-5 fw-bold">Parcelas</label></div>
                <div class="row label justify-content-evenly justify-content-lg-start mx-2 mb-2">
                    <div class="col-6 col-lg-2 ps-lg-0">
                        <label for="id_parcelas">Forma Pagamento</label>
                        {{ form.formapgto }}
                    </div>
                    <div class="col-12 col-lg-3 pe-lg-0 p-0">
                        <label for="id_condicaopgto">Condição</label>
                        {{ form.condicaopgto }}
                    </div>
                    <div class="col-4 col-lg-1 pe-lg-0">
                        <label for="id_parcelas" class="text-center">Parcelas</label>
                        {{ form.parcelas }}
                    </div>
                    <div class="col-4 col-lg-2 pt-lg-0">
                        <label for="id_dias_prim_par">Dias primeira</label>
                        {{ form.dias_prim_par }}
                    </div>
                    <div class="col-6 col-lg-2 p-lg-0">
                        <label for="id_dias_outras_par">Dias demais parcelas</label>
                        {{ form.dias_outras_par }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if parcela %}
            {{ parcela.management_form }}
            <!-- {% if parcela.errors %}
            <div class="alert alert-danger my-2">
                <p class="error txred mb-0" for="">Campos obrigatórios:</p>
                {% for field in parcela.errors %}
                {% for error in field.errors %}
                <li class="error txred"><b>{{ error|escape }}</b></li>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %} -->
            <div class="card my-2 p-2">
                <div class="card-body label p-0" id="parcela-form-list">
                    {% for parc in parcela %}
                    <div class="row parcela-form">
                        {{ parc.id }}
                        {{ parc.receita }}
                        {{ parc.datadocumento }}
                        <div class="col-6 col-lg-2">
                            {{ parc.parcela.label_tag }}
                            {{ parc.parcela }}
                        </div>
                        <div class="col-6 col-lg-2">
                            {{ parc.valor.label_tag }}
                            {{ parc.valor }}
                        </div>
                        <div class="col-6 col-lg-2">
                            {{ parc.datavencimento.label_tag }}
                            {{ parc.datavencimento }}
                        </div>
                        {% if codigo %}
                        <div class="col-6 col-lg-2">
                            {{ parc.formapgto.label_tag }}
                            {% if parc.valor_pago.value > 0 %}
                            {{ parc.formapgto }}
                            <!-- Campo oculto para enviar o valor de formapgto quando desabilitado -->
                            <input type="hidden" name="formapgto" value="{{ parc.formapgto.value }}">
                            {% else %}
                            {{ parc.formapgto }}
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="col-6 col-lg-2">
                            {{ parc.formapgto.label_tag }}
                            {{ parc.formapgto }}
                        </div>
                        {% endif %}
                        {% if 'financeiro.change_contapagar' in perms %}
                        <div class="col-6 col-lg-2">
                            {{ parc.datapagamento.label_tag }}
                            {{ parc.datapagamento }}
                        </div>
                        <div class="col-6 col-lg-2">
                            {{ parc.valor_pago.label_tag }}
                            {{ parc.valor_pago }}
                        </div>
                        <div class="col-12 col-lg-10">
                            {{ parc.detalhes.label_tag }}
                            {{ parc.detalhes }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ parc.boleto.label_tag }}
                            {{ parc.boleto }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ parc.comprovante.label_tag }}
                            {{ parc.comprovante }}
                        </div>
                        {% else %}
                        <div class="col-12 col-lg-6">
                            {{ parc.detalhes.label_tag }}
                            {{ parc.detalhes }}
                        </div>
                        <div class="col-12 col-lg-6">
                            {{ parc.boleto.label_tag }}
                            {{ parc.boleto }}
                        </div>
                        <hr class="d-block d-lg-none mt-2 mb-0">
                    </div>
                    {% endif %}
                </div>
                <hr class="mt-2 mb-0">
                {% endfor %}
            </div>
            <div id='empty-parcela' class="hidden">
                {{ parcela.empty_form.id }}
                {{ parcela.empty_form.datadocumento }}
                <div class="col-6 col-lg-2">
                    {{ parcela.empty_form.parcela.label_tag }}
                    {{ parcela.empty_form.parcela }}
                </div>
                <div class="col-6 col-lg-2">
                    {{ parcela.empty_form.valor.label_tag }}
                    {{ parcela.empty_form.valor }}
                </div>
                <div class="col-6 col-lg-2">
                    {{ parcela.empty_form.datavencimento.label_tag }}
                    {{ parcela.empty_form.datavencimento }}
                </div>
                <div class="col-6 col-lg-2">
                    {{ parcela.empty_form.formapgto.label_tag }}
                    {{ parcela.empty_form.formapgto }}
                </div>
                {% if 'financeiro.change_contapagar' in perms %}
                <div class="col-6 col-lg-2">
                    {{ parcela.empty_form.datapagamento.label_tag }}
                    {{ parcela.empty_form.datapagamento }}
                </div>
                <div class="col-6 col-lg-2">
                    {{ parcela.empty_form.valor_pago.label_tag }}
                    {{ parcela.empty_form.valor_pago }}
                </div>
                <div class="col-12 col-lg-10">
                    {{ parcela.empty_form.detalhes.label_tag }}
                    {{ parcela.empty_form.detalhes }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ parcela.empty_form.boleto.label_tag }}
                    {{ parcela.empty_form.boleto }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ parcela.empty_form.comprovante.label_tag }}
                    {{ parcela.empty_form.comprovante }}
                </div>
                {% else %}
                <div class="col-12 col-lg-6">
                    {{ parcela.empty_form.detalhes.label_tag }}
                    {{ parcela.empty_form.detalhes }}
                </div>
                <div class="col-12 col-lg-6">
                    {{ parcela.empty_form.boleto.label_tag }}
                    {{ parcela.empty_form.boleto }}
                </div>
                <hr class="d-block d-lg-none mt-2 mb-0">
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="d-flex gap-2 justify-content-end pe-2">
        <a role="button" class="btn btn-secondary btn-sm" href="{% url 'venda:vendaList' %}">Cancelar</a>
        <div class="form-group form-button">
            <input type="submit" class="btn btn-primary btn-sm" value="Salvar" id="id_salvar" />
        </div>
    </div>
</form>

<script type="text/javascript" language="javascript">
    window.onload = function () {
        somenteLeitura()
        // impede que a última parcela seja alterada
        tot_ids = $('#id_contareceber_set-TOTAL_FORMS').val()
        read_only = document.getElementById(`id_contareceber_set-${tot_ids - 1}-valor`)
        if (read_only) {
            read_only = document.getElementById(`id_contareceber_set-${tot_ids - 1}-valor`).readOnly = true;
        }
    }

    // mensagens
    function aviso(texto) {
        let divmensagem = document.getElementById('div_mensagem');
        divmensagem.setAttribute('class', 'alert alert-danger mb-1 mt-2');
        mensagem.innerHTML = texto;
        window.location.href = '#div_mensagem';
    }

    function limparAviso() {
        let divmensagem = document.getElementById('div_mensagem');
        divmensagem.setAttribute('class', 'hidden');
        let divmensagem2 = document.getElementById('div_mensagem2');
        divmensagem2.setAttribute('class', 'hidden');
    }

    // limita a quantidade de fabricação de produtos em 10 por dia
    // function agendaProd() {
    //     let divmensagem = document.getElementById('div_mensagem');
    //     divmensagem.setAttribute('class', 'hidden');
    //     // let quant = $(`#id_vendaproduto_set-${i}-quantidade`).val();

    //     let select = $("#id_data_entrega :selected").text();
    //     vlratual = select.slice(12, -1);
    //     let numagen = parseInt(vlratual)

    //     let ids = $('#id_vendaproduto_set-TOTAL_FORMS').val();
    //     numprod = 0
    //     for (let i = 0; i < ids; i++) {
    //         let quant = document.getElementById(`id_vendaproduto_set-${i}-quantidade`)
    //         numprod += Number(quant.value)
    //         if (numagen == 10000 || numprod > 10000 || (numagen + numprod) > 10000) {
    //             aviso(
    //                 texto = 'O limite de 10000 produtos agendados para este dia já foram cadastrados!'
    //             )
    //             quant.value = 0
    //         }
    //     }
    //     change()
    // }

    // select2 produto

    function reply_click(clicked_id) {
        let select = $("#id_data_entrega :selected").text();
        vlratual = select.slice(12, -1);
        let prodagendada = parseInt(vlratual)
        if (prodagendada == 100) {
            aviso('Atenção!\n O limite de 10 produtos agendados para este dia já foram cadastrados!');
        }
    }

    // -------------------------PRODUTO--------------------------------
    // filtra o preco(valor cadastrado) de cada produto selecionado
    function filtroPreco(id) {
        let trat_id = id.match(/\d+/g)
        let num_id = trat_id[0]
        let id_produto = $(`#${id}`).val();
        let quantidade = document.querySelector(`#id_vendaproduto_set-${num_id}-quantidade`).value;
        let preco = document.querySelector(`#id_vendaproduto_set-${num_id}-preco`);
        let url = "{% url 'venda:produtoPrecoAjax' %}";

        $.ajax({
            type: 'GET',
            url: url,
            data: {
                id_produto: id_produto,
            },
            success: function (response) {
                preco_tab = preco_base = response['data']
                preco.setAttribute('value', preco_tab);
                preco.setAttribute('min', preco_tab);

                // altera o valor do subtotal ao alterar o produto
                if (quantidade > 0) {
                    subTotalProduto(id)
                }
            }
        })
    }

    // retorna o preço mínimo(valor cadastrado) para cada produto selecionado
    function preco_min(data) {
        id = data.id
        value = data.value
        if (Number(value) < Number(preco_base)) {
            let preco = document.getElementById(`${id}`);
            preco.value = preco_base;
            aviso('O valor mínimo para este produto é de R$ ' + preco_base)
        }
    }

    // calcula o valor do subtotal (quantidade x preço) de cada produto
    function subTotalProduto(data) {
        let trat_id = data.match(/\d+/g)
        let id = trat_id[0]
        let quant = $(`#id_vendaproduto_set-${id}-quantidade`).val();
        let preco = $(`#id_vendaproduto_set-${id}-preco`).val();
        let subt = document.getElementById(`id_vendaproduto_set-${id}-subtotal`);
        calc = Number(quant) * Number(preco);
        subt.value = calc.toFixed(2);
        totalProdutos()
    }

    // calcula a soma dos subtotais, desconto e cotação de transporte
    function totalProdutos() {
        let ids = $('#id_vendaproduto_set-TOTAL_FORMS').val();
        let sum = 0;
        for (let i = 0; i < ids; i++) {
            let subt = $(`#id_vendaproduto_set-${i}-subtotal`).val();
            sum += Number(subt);
        }
        let venda = document.getElementById(`id_valor_venda`);
        vlr_venda = sum.toFixed(2);
        venda.setAttribute('value', vlr_venda);
        totalVenda()
    }

    // calcula o total da venda
    function totalVenda() {
        let venda = $('#id_valor_venda').val();
        let desc = $('#id_porcentagem_desconto').val();
        let frete = $('#id_valor_frete').val();
        let total = $('#id_subtotal').val();
        calc = (Number(venda) + Number(frete)) - (venda * (desc / 100))
        $('#id_subtotal').val(calc.toFixed(2));

        // aciona a função valorParcelas caso a forma de pagamento tenha sido selecionada
        var fpg = document.getElementById("id_formapgto");
        // Verifica se alguma opção foi selecionada
        if (fpg.value) {
            valorParcelas(fpg)
        }
    }

    // adiciona de forma dinâmica novos formulários para produto
    const addProdutoBtn = document.getElementById('add-produto');
    const totalProdutosForms = document.getElementById('id_vendaproduto_set-TOTAL_FORMS');

    addProdutoBtn.addEventListener('click', add_new_produto_form);
    function add_new_produto_form(event) {
        if (event) {
            event.preventDefault();
        }
        const currentProdutoForms = document.getElementsByClassName("produto-form");
        const currentProdutoFormCount = currentProdutoForms.length;
        const formProdutoCopyTarget = document.getElementById("produto-form-list");
        const copyProdutoEmptyFormEl = document.getElementById('empty-produto').cloneNode(true);
        copyProdutoEmptyFormEl.setAttribute('class', 'row produto-form pt-1');
        copyProdutoEmptyFormEl.setAttribute('id', `vendaproduto_set-${currentProdutoFormCount}`);
        const regexProduto = new RegExp('__prefix__', 'g');
        copyProdutoEmptyFormEl.innerHTML = copyProdutoEmptyFormEl.innerHTML.replace(regexProduto, currentProdutoFormCount);
        totalProdutosForms.setAttribute('value', currentProdutoFormCount + 1);
        formProdutoCopyTarget.append(copyProdutoEmptyFormEl);
    }

    // desabilita o botão apagar produto caso haja apenas um produto
    // let tot_ids_prod = document.getElementById('id_vendaproduto_set-TOTAL_FORMS');
    // let tot = tot_ids_prod.value;
    // let apagar = document.getElementById('apagar');
    // if (tot == 1) {
    //     apagar.setAttribute('class', 'hidden');
    // }


    // -------------------------PARCELA--------------------------------

    function addDays(date, days) {
        date.setDate(date.getDate() + days);
        return date;
    }

    function condicao() {
        limparAviso()
        const div_parcela = document.getElementsByClassName('parcela-form-list');
        let id = $('#id_contareceber_set-TOTAL_FORMS').val();

        for (let i = 0; i < id; i++) {
            registro = document.getElementById(`id_contareceber_set-${i}-id`);
        }

        // retorna a identificação das parcelas, a quantidade, a forma de pagamento, a data do pagamento e o valor de cada parcela
        let data = $("#id_data_entrega").val();
        let total = $("#id_subtotal").val();
        let id_condicao = document.getElementById('id_condicaopgto');
        let tot = document.getElementById('id_contareceber_set-TOTAL_FORMS');
        let url = "{% url 'venda:condicaoAjax' %}";

        let fpg = $("#id_formapgto").val();

        if (total <= 0 || !fpg) {
            if (total <= 0) {
                aviso(texto = 'Selecione ao menos um produto');
            } else if (!fpg) {
                let mensagem = document.getElementById('div_mensagem2');
                mensagem.setAttribute('class', 'alert alert-danger mb-1 mt-2');
                texto = 'Selecione uma forma de pagamento'
                mensagem2.innerHTML = texto;
                window.location.href = '#div_mensagem2';
            }
            id_condicao.value = ''
            parcelas = ''
        } else {
            let primeira = document.getElementById("id_dias_prim_par");
            let demais = document.getElementById("id_dias_outras_par");
            let parcelas = document.getElementById("id_parcelas");

            $.ajax({
                type: 'GET',
                url: url,
                data: {
                    id_condicao: id_condicao.value,
                },
                success: function (response) {
                    primeira.setAttribute('value', [response['info'][0].primeira]);
                    demais.setAttribute('value', [response['info'][0].demais]);
                    parcelas.setAttribute('value', [response['info'][0].parcelas]);
                    prim = ([response['info'][0].primeira]);
                    dema = ([response['info'][0].demais]);
                    parc = ([response['info'][0].parcelas]);
                    parcelasChange(data, total, prim, dema, parc)
                },
            })
        }
    }

    // cria as parcelas
    function parcelasChange(data, total, prim, dema, parc) {
        const totalNewForms = document.getElementById('id_contareceber_set-TOTAL_FORMS');

        // Remove todos os formulários existentes
        const formCopyTarget = document.getElementById('parcela-form-list');
        while (formCopyTarget.firstChild) {
            formCopyTarget.removeChild(formCopyTarget.firstChild);
        }
        // Atualiza o total de formulários para 0
        document.getElementById('id_contareceber_set-TOTAL_FORMS').value = 0;

        for (let i = 0; i < parc; i++) {
            const currentParcelas = document.getElementsByClassName('parcela-form');
            const currentFormCount = currentParcelas.length;
            const formCopyTarget = document.getElementById('parcela-form-list');
            const copyEmptyFormEl = document.getElementById('empty-parcela').cloneNode(true);
            copyEmptyFormEl.setAttribute('class', 'row parcela-form pt-1');
            copyEmptyFormEl.setAttribute('id', `id_contareceber_set-${currentFormCount}`);
            const regex = new RegExp('__prefix__', 'g');
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount);
            totalNewForms.setAttribute('value', currentFormCount + 1);
            formCopyTarget.append(copyEmptyFormEl);

            // número das parcelas
            const parcela = document.getElementById(`id_contareceber_set-${i}-parcela`);
            parcela.setAttribute('value', `${i + 1}ª parcela`);

            // data das parcelas
            const dataPar = document.getElementById(`id_contareceber_set-${i}-datavencimento`);
            let numpar = $(`#id_contareceber_set-${i}-parcela`).val();
            if (numpar == '1ª parcela') {
                const da = new Date(data);
                const novaData = addDays(da, parseInt(prim));
                dataPar.setAttribute('value', novaData.toISOString().slice(0, 10));
            } else {
                let dat = $(`#id_contareceber_set-${i - 1}-datavencimento`).val();
                const da = new Date(dat);
                const novaData = addDays(da, parseInt(dema));
                dataPar.setAttribute('value', novaData.toISOString().slice(0, 10));
            }
        }
        // aciona a função valorParcelas caso a forma de pagamento tenha sido selecionada
        var fpg = document.getElementById("id_formapgto");
        valorParcelas(fpg)
    }

    // calcula os valores das parcelas
    function valorParcelas(fpg) {
        let total = $("#id_subtotal").val();
        let parc = $("#id_parcelas").val();

        // divide o total, subtraído o desconto, pela quantidade parcelas
        let div = total / parc

        // calculo para não arredondar divisão do total pelo número de prestações
        let v1 = Math.floor(div * 100) / 100;

        // diferença entre o total e sua divisão pela quantidade de prestações
        v2 = total - (v1 * parc)
        let outvar = v2.toFixed(2)

        let ultima = total - (v1 * (parc - 1))
        v3 = ultima.toFixed(2)

        // calcular última parcela
        let quantultpar = (parc - 1)
        let v4 = (quantultpar * v1)
        let ultimaparc = v4 + (total - (v1 * (parc - 1)))
        let ids = $('#id_contareceber_set-TOTAL_FORMS').val();
        let id = ids - 1
        let qua = 0
        if (parc > 0) {
            qua = parc - 1
        }

        for (let i = 0; i < id; i++) {
            let parcs = document.getElementById(`id_contareceber_set-${i}-valor`);
            parcs.setAttribute('value', v1.toFixed(2));
            document.getElementById(`id_contareceber_set-${i}-formapgto`).value = fpg.value;
        }
        let upar = document.getElementById(`id_contareceber_set-${qua}-valor`);
        upar.setAttribute('value', v3);
        document.getElementById(`id_contareceber_set-${qua}-formapgto`).value = fpg.value;
    }

    // recalcula os valores das parcelas quando há alterações
    function recalcularParcelas(id) {
        // recalcula valores das parcelas quando um valor é alterado
        // somente as parcelas seguintes poderão ser alteradas
        // OBS.: a última parcela não poderá ser alterada
        let numsStr = id.replace(/[^0-9]/g, '');
        let id_atual = parseInt(numsStr);
        let tot_ids = $('#id_contareceber_set-TOTAL_FORMS').val();
        let total = $("#id_subtotal").val();

        sum = 0
        for (let i = 0; i <= id_atual; i++) {
            var valor = $(`#id_contareceber_set-${i}-valor`).val();
            var vlr_pago = $(`#id_contareceber_set-${i}-valor_pago`).val();
            if (valor != vlr_pago) {
                sum = sum + Number(vlr_pago)
            } else {
                sum = sum + Number(valor);
            }
        }

        calc = total - sum
        let demais_parc = []
        parcelas = Number(tot_ids - 1) - id_atual;
        let vlr_demais_parc = calc / parcelas;

        // atribui a diferença do valor total às demais parcelas
        if (vlr_pago > 0) {
            for (let i = (id_atual + 1); i <= Number(tot_ids - 1); i++) {
                let parcs = document.getElementById(`id_contareceber_set-${i}-valor`);
                parcs.setAttribute('value', vlr_demais_parc.toFixed(2));
            }
        } else {
            valorParcelas(fpg)
        }
    }


    function somenteLeitura() {
        var codigo = document.getElementById('id_codigo');
        if (codigo) {
            document.getElementById('id_condicaopgto').setAttribute('disabled', 'disabled');
            document.getElementById('id_formapgto').setAttribute('disabled', 'disabled');
        }

        let ids = $('#id_contareceber_set-TOTAL_FORMS').val();
        for (let i = 0; i < ids; i++) {
            let data = document.getElementById(`id_contareceber_set-${i}-datapagamento`);
            document.getElementById(`id_contareceber_set-${i}-valor`).readOnly = true;

            let vlr_pago = $(`#id_contareceber_set-${i}-valor_pago`).val();
            if (data.value && vlr_pago > 0) {
                // document.getElementById(`id_contareceber_set-${i}-formapgto`).setAttribute('disabled', 'disabled');
                document.getElementById(`id_contareceber_set-${i}-valor_pago`).setAttribute('readonly', 'readonly');
            }
        }
    }

    // function dataPagamento(data) {
    //     let id = data[20]
    //     var data = $(`#id_contareceber_set-${id}-datapagamento`).val();
    //     var vlr_pago = $(`#id_contareceber_set-${id}-valor_pago`).val();
    //     if (data && vlr_pago > 0) {
    //         $(`#id_contareceber_set-${id}-valor_pago`).attr('readonly', true);
    //         // $(`#id_contareceber_set-${i}-datavencimento`).attr('readonly', true);
    //         // $(`#id_contareceber_set-${i}-formapgto`).attr('disabled', true);
    //         // document.getElementById(`id_contareceber_set-${i}-formapgto`).setAttribute("disabled", "disabled");
    //     } else if (!data) {
    //         document.getElementById(`id_contareceber_set-${id}-valor_pago`).readOnly = false;
    //         // document.getElementById(`id_contareceber_set-${i}-datavencimento`).readOnly = false;
    //         // document.getElementById(`id_contareceber_set-${i}-formapgto`).removeAttribute("disabled", "disabled");
    //     }
    //     // vlr_pago = Number(vlr_pago).toFixed(2);
    // };

</script>

</body>
{% endblock %}


{% block script %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>

<script>
    $(document).ready(function ($) {
        $('#id_cliente').select2({
            ajax: {
                url: "{% url 'venda:clienteAjax' %}",
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return { id: item.id, text: item.nome };
                        })
                    };
                }
            },
            minimumInputLength: 1
        });
    });

    let formID = document.getElementById("form");
    let send = $("#id_salvar");

    $(formID).submit(function (event) {
        if (formID.checkValidity()) {
            send.attr('disabled', 'disabled');
        }
    });
</script>
{% endblock %}