{% extends 'index.html' %}

{% load static %}

<title> {% block title %} Vendas {% endblock title%} </title>


{% block index %}

<div class="container">
    <div class="filters card border-1">
        <div class="card-header">
            <label class="fs-5 fw-bold">Vendas</label>
        </div>
        <div class="table-responsive p-3">
            <table class="table table-sm" id="tableID">
                <div class="col-12 d-flex justify-content-end">
                    <a class="btnMaster px-2" href="{% url 'venda:vendaCreate' %}">Novo Pedido de Venda
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
                <thead>
                    <tr>
                        <th>Cód</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Nota Fiscal</th>
                        <th>Vendedor</th>
                        <th>Venda</th>
                        <th>Status</th>
                        <th>Condição</th>
                        <th class="px-0">Clonar</th>
                        <th class="px-3">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="/static/js/datatables.min.js"></script>
<script src="/static/js/jqueryDataTable.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.7/sorting/date-euro.js"></script>
<script>
    $(document).ready(function () {
        $('#tableID').DataTable({

            "order": [2, 'desc'],
            "columnDefs": [{ type: 'date-euro', 'targets': [2, 3] }],
            "order": [[2, "desc"]],
            "pageLength": 100,
            "language": {
                "sProcessing": "Proccesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Nenhum resultado encontrado",
                "sEmptyTable": "Nenhum dado disponivel",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de um total de 0 registros",
                "sInfoFiltered": "(filtrado de um total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Carregando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Seguinte",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Ativar para ordenar a coluna de maneira ascendente",
                    "sSortDescending": ": Ativar para ordenar a coluna de maneira descendente"
                }
            },
            ajax: 'ajax/',
            columns: [
                { "data": "cod" },
                { "data": "cliente" },
                { "data": "pedido" },
                { "data": "notafiscal" },
                { "data": "vendedor" },
                { "data": "subtotal" },
                { "data": "status" },
                { "data": "condicao" },
                { "data": "clonar" },
                { "data": "acoes" },
            ]
        });
    });

</script>
{% endblock %}