{% if venda.danfe_simples %}
<div class="container p-0">
    <div class="card border-2 p-3" style="--bs-card-border-color:green ">
        <div class="row gap-2 px-1">
            <div class="col-lg-2 p-0">
                <div class="card h-100">
                    <h6 class="card-header">{% if venda.numero_nf %}N&#176; {{ venda.numero_nf }}{% endif %}</h6>
                    <div class="card-body">
                        <h6>Status</h6>
                        <p>{{ venda.status }}</p>
                        <p>{{ venda.motivo }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 p-0">
                <div class="card h-100">
                    <h6 class="card-header">Chave</h6>
                    <div class="card-body">
                        <p>{{ venda.chave }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 p-0">
                <div class="card h-100">
                    <h6 class="card-header">Visualizar N.F</h6>
                    <div class="card-body d-flex gap-1 flex-column">
			    {%if venda.nfjaimpressa%} <font color="red"><h5> ATENÇÃO <br/>ESSA NOTA JÁ FOI IMPRESSA </h5></font>{%endif%}
			    <a onclick="javascript:nfjaimpressa({{venda.id}});" class="btn btn-primary btn-sm" href="{{ venda.danfe }}" target="_blank">Danfe</a>
                        <a class="btn btn-primary btn-sm" href="{{ venda.danfe_simples }}" target="_blank">Simples</a>
                        <a class="btn btn-primary btn-sm" href="{{ venda.danfe_etiqueta }}" target="_blank">Etiqueta</a>
                        <a class="btn btn-primary btn-sm" href="{{ venda.xml }}" target="_blank">XML</a>
                        <!-- <div><a href="{{ venda.danfe }}" target="_blank" class="card-link">Danfe</a></div>
                        <div><a href="{{ venda.danfe_simples }}" target="_blank" class="card-link">Simples</a></div>
                        <div><a href="{{ venda.danfe_etiqueta }}" target="_blank" class="card-link">Etiqueta</a></div>
                        <div><a href="{{ venda.xml }}" target="_blank" class="card-link">XML</a></div> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
	<script type="text/javascript ">

	 function nfjaimpressa(id) {
		 setTimeout(function () {
                  window.location.href = "?nota=" + id;
                }, 3000);			 
	 }
	</script>
    {% else %}
    <!-- <div class="text-end mt-2">
        <button type="submit" class="btn btn-primary btn-sm" name="EmitirNF" id="id_emitirnf">Emitir Nota
            Fiscal</button>
    </div> -->
</div>
{% endif %}
