{% extends 'index.html' %}

{% load static %}

<title> {% block title %} Transportadoras {% endblock title%} </title>


{% block index %}

<div class="container">
    <div class="filters card border-1">
        <div class="card-header">
            <label class="fs-5 fw-bold">Transportadoras</label>
        </div>
        <div class="table-responsive p-3">
            <table class="table table-sm" id="id_table">
                <div class="col-12 d-flex justify-content-end">
                    <a class="btnMaster px-2" href="{% url 'transportadora:transporteCreate' %}">Nova Transportadora
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Nome Fantasia</th>
                        <th>Telefone</th>
                        <th>Telefone2</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>CNPJ</th>
                        <th>Estado</th>
                        <th>Faturamento</th>
                        <th align="center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.nome|truncatechars:20 }}</td>
                        <td>{{ obj.nome_fantasia|truncatechars:20 }}</td>
                        <td>{{ obj.tel_principal|default:"" }}</td>
                        <td>{{ obj.tel_contato|default:"" }}</td>
                        <td>{{ obj.email|default:"" }}</td>
                        <td>{{ obj.cpf|default:"" }}</td>
                        <td>{{ obj.cnpj|default:"" }}</td>
                        <td>{{ obj.estado|default:"" }}</td>
                        <td class="text-center"> <abbr title="Faturamento">
                                <a href="{% url 'venda:listaConferenciaTransporteExpedicao' obj.id %}">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </a>
                            </abbr></td>
                        <td class="text-center pe-1">
                            <abbr title="Editar">
                                <a href="{{ obj.transp_gau_edit }}">
                                    <i class=" fa fa-edit"></i>
                                </a>
                            </abbr>
                            <abbr title="Excluir">
                                <a href="{{ obj.transp_gau_delete }}">
                                    <i class="fa fa-close no"></i>
                                </a>
                            </abbr>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jqueryDataTable.js' %}"></script>
<script>
    function filtro() {
        let dataInicio = document.getElementById('data_ini')
        let datafim = document.getElementById('data_fim')
    };

    $(document).ready(function () {
        $('#id_table').DataTable({
            "pageLength": 100,
            "language": {
                "sProcessing": "Proccesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Nenhum resultado encontrado",
                "sEmptyTable": "Nenhum dado disponivel",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de um total de 0 registros",
                "sInfoFiltered": "(filtrado de um total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Carregando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Seguinte",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Ativar para ordenar a coluna de maneira ascendente",
                    "sSortDescending": ": Ativar para ordenar a coluna de maneira descendente"
                }
            }
        });
    }); 
</script>
{% endblock %}