{% extends 'index.html' %}

{% load static %}

<title> {% block title %} Fluxo de Caixa (Extrato Bancário) {% endblock title%} </title>

{% block index %}

<div class="container">
    <div class="filters card border-1 mb-2">
        <div class="card-header">
            <label class="fs-5 fw-bold">Filtro</label>
        </div>
        <div class="card-body row label">
            <form method="GET">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-1 ml-2 ml-lg-0">
                        <label>Periodo</label>
                    </div>
                    <div class="col-12 col-lg-4 d-flex gap-3 ml-2 ml-lg-0">
                        <input type="date" id="data_ini" name="data_ini" class="form-control form-control-sm"
                            placeholder="Data de início" value="{{ data_ini }}">
                        <input type="date" id="data_fim" name="data_fim" class="form-control form-control-sm"
                            placeholder="Data fim" value="{{ data_fim }}">
                    </div>
                    <div class="col-12 col-lg-1 mt-2 mt-lg-0 ml-2 ml-lg-0 ">
                        <button type="submit" class="btn btn-primary btn-sm" value="Pesquisar">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row gap-2 justify-content-center mb-2">
        <div class="card col-md p-4">
            <div
                class="d-flex justify-content-between align-items-center justify-content-md-center justify-content-xl-between">
                <div class="imageBlock d-flex align-items-center justify-content-center bg-white d-md-none d-xl-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                        class="iconify iconify--mdi" width="1em" height="1em" viewBox="1 0 22 22">
                        <path fill="currentColor"
                            d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15Z"
                            style="color: rgb(86, 202, 0);"></path>
                    </svg>
                </div>
                <div class="text-end">
                    <span class="text-end">Saldo Hoje</span>
                    <div class="d-flex align-items-center justify-content-end">
                        <h6 class="">80.061,00</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md p-4">
            <div
                class="d-flex justify-content-between align-items-center justify-content-md-center justify-content-xl-between">
                <div class="imageBlock d-flex align-items-center justify-content-center bg-white d-md-none d-xl-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                        class="iconify iconify--mdi" width="1em" height="1em" viewBox="1 0 22 22">
                        <path fill="currentColor"
                            d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15Z"
                            style="color: rgb(86, 202, 0);"></path>
                    </svg>
                </div>
                <div class="">
                    <span class="">A Receber</span>
                    <div class="d-flex align-items-center justify-content-end">
                        <h6 class="">181.525,00</h6>
                        <div class="d-flex align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md p-4">
            <div
                class="d-flex justify-content-between align-items-center justify-content-md-center justify-content-xl-between">
                <div class="imageBlock d-flex align-items-center justify-content-center bg-white d-md-none d-xl-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                        class="iconify iconify--mdi" width="1em" height="1em" viewBox="1 0 22 22">
                        <path fill="currentColor"
                            d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15Z"
                            style="color: red;"></path>
                    </svg>
                </div>
                <div class="text-end">
                    <span class="">A Pagar</span>
                    <div class="d-flex align-items-center justify-content-end">
                        <h6 class="">128.001,00</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md p-4">
            <div
                class="d-flex justify-content-between align-items-center justify-content-md-center justify-content-xl-between">
                <div class="imageBlock d-flex align-items-center justify-content-center bg-white d-md-none d-xl-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                        class="iconify iconify--mdi" width="1em" height="1em" viewBox="1 0 22 22">
                        <path fill="currentColor"
                            d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15Z"
                            style="color: green;"></path>
                    </svg>
                </div>
                <div class="text-end">
                    <span class="">Saldo</span>
                    <div class="d-flex align-items-center justify-content-end">
                        <h6 class="">+128.001,00</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filters card border-1">
        <div class="card-header">
            <label class="fs-5 fw-bold">Fluxo de Caixa (Extrato Bancário)</label>
        </div>
        <div class="table-responsive p-3">
            <table class="table table-sm" id="id_table">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>A receber</th>
                        <th>A pagar</th>
                        <th>Saldo previsto</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in object_list %}
                    <tr>
                        <td>12/12/2024</td>
                        <td>R$ {{ obj.total|floatformat:2 }}</td>
                        <td>R$ {{ obj.total|floatformat:2 }}</td>
                        <td>R$ {{ obj.total|floatformat:2 }}</td>
                        <td>
                            <a class="px-1" href="{{ obj.despesa_gau_edit }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="px-1" href="{{ obj.despesa_gau_delete }}" style="padding-left: 7px">
                                <i class="fa fa-close no"></i>
                            </a>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jqueryDataTable.js' %}"></script>

{% endblock %}