{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block base %}

<div class="container p-4">
    <div class="col-11 col-lg-5 card border-0 shadow-lg m-auto p-4">
        <div class="card-body mt-1">

            <div class="card-title d-flex justify-content-center mb-4 pb-1">
                <a class="logo d-flex gap-2 text-decoration-none" href="/">
                    <img src="{% static 'img/logo.png' %}">
                    <h6 class="m-auto ps-1 fs-4 text-dark text-uppercase">Original</h6>
                </a>
            </div>
            <div>
                <h5 class="text-center">Bem vindo a Original! 👋🏻</h5>
                <p class="text-muted font-weight-bold" style="font-size: 14px;">Por favor, insira seus dados para
                    acessar.</p>
            </div>

            <form class="d-flex flex-column justify-content-center" id="formLogin" method="POST"
                action="{% url 'account_login' %}">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.non_field_errors }}</strong>
                </div>
                {% endif %}
                <div class="form-floating mb-3">

                    <input type="text" name="login" class="form-control" id="id_login" required
                        placeholder="Usuário ou E-mail">
                    <div class="invalid-feedback">Por favor, entre com seu usuário e senha.</div>
                    <label for="id_login" class="form-label">Usuário ou E-mail</label>

                </div>
                <div class="form-floating mb-2">
                    <input type="password" name="password" id="id_password" class="form-control" placeholder="Senha"
                        required>
                    <div class="invalid-feedback">Por favor, insira sua senha!</div>
                    <label for="id_password" class="form-label">Senha</label>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <div class="col-6 form-check">
                        <input class="form-check-input border-2 rounded-1" type="checkbox" data-indeterminate="false"
                            id="flexCheckDefault">
                        <label gpt class="form-check-label text-muted font-weight-bold" style="font-size: 14px;"
                            for="flexCheckDefault">Lembre-me
                    </div>
                </div>
                <button type="submit">Acessar</button>
            </form>
            <div class="m-2">
                <a class="dropdown-item text-muted fw-bold" href="{% url 'account_reset_password' %}">
                    Esqueceu a senha?
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}