{% extends "index.html" %}

{% load static %}
{% load i18n %}

{% block title %}Logout{% endblock %}

{% block index %}

<div class="container p-4">
  <div class="col-11 col-lg-5 card border-0 shadow-lg m-auto p-4">
    <div class="card-body mt-1">
      <div>
        <h1>{% trans "Sign Out" %}</h1>
        <p class="text-muted font-weight-bold" style="font-size: 14px;">
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </p>
      </div>
      <form class="d-flex flex-column justify-content-center" id="formLogin" method="POST"
        action="{% url 'account_logout' %}">
        {% csrf_token %}
        <div class="form-floating mb-3">
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="w-100" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}