{% extends "base.html" %}

{% load static i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block base %}

<div class="container p-4">
    <div class="col-11 col-lg-5 card border-0 shadow-lg m-auto p-4">
        <div class="card-body mt-1">

            <div class="card-title d-flex justify-content-center mb-4 pb-1">
                <a class="logo d-flex gap-2 text-decoration-none" href="/">
                    <img src="{% static 'img/logo.png' %}">
                    <h6 class="m-auto ps-1 fs-4 text-dark text-uppercase">Original</h6>
                </a>
            </div>
            <div>
                <h5>Alterar senha</h5>
                <p class="text-muted font-weight-bold" style="font-size: 14px;">Insira a nova senha.</p>
            </div>
            <form class="d-flex flex-column justify-content-center" id="formLogin" method="POST"
                action="{{ action_url }}">
                {% csrf_token %}
                <div class="form-floating mb-3">

                    <input type="password" name="password1" class="form-control" id="id_password1" required
                        placeholder="Senha" autocomplete="new-password">
                    <label for="id_password1" class="form-label">Senha</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password2" class="form-control" id="id_password1" required
                        placeholder="Senha (novamente)" autocomplete="new-password">
                    <label for="id_password2" class="form-label">Nova Senha (novamente)</label>
                </div>
                <button type="submit" name="action">Salvar</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}