{% extends "base.html" %}

{% load static i18n %}

{% block base %}

<div class="container p-4">
    <div class="col-11 col-lg-5 card border-0 shadow-lg m-auto p-4">
        <div class="card-body mt-1">
            <div class="card-title d-flex justify-content-center mb-4 pb-1">
                <a class="logo d-flex gap-2 text-decoration-none" href="/">
                    <img src="{% static 'img/logo.png' %}">
                    <h6 class="m-auto ps-1 fs-4 text-dark text-uppercase">Original</h6>
                </a>
            </div>
            <div>
                <h5 class="text-center">Alterar da senha</h5>
            </div>
            <form class="d-flex flex-column justify-content-center password_change" id="formLogin" method="POST"
                action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.errors }}</strong>
                </div>
                {% endif %}
                <div class="form-floating mb-2">
                    <input type="password" name="oldpassword" class="form-control" maxlength="320"
                        autocomplete="current-password" required id="id_oldpassword">
                    <label for="id_oldpassword" class="form-label">Senha atual</label>
                </div>



                <div class="form-floating mb-2">
                    <input type="password" name="password1" class="form-control" maxlength="320"
                        autocomplete="new-password" required id="id_password1">
                    <label for="id_password1" class="form-label">Nova senha</label>
                </div>

                <span class="helptext">
                    <ul id="altsenha">
                        <li>Sua senha não pode ser muito parecida com o resto das suas informações
                            pessoais.</li>
                        <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
                        <li>Sua senha não pode ser uma senha comumente utilizada.</li>
                        <li>Sua senha não pode ser inteiramente numérica.</li>
                    </ul>
                </span>
                <div class="form-floating mb-2">
                    <input type="password" name="password2" class="form-control" maxlength="320" required
                        id="id_password2">
                    <label for="id_password2" class="form-label">Nova Senha (novamente)</label>
                </div>
                <button type="submit" name="action">Alterar senha</button>
            </form>
            <div class="m-2">
                <a class="dropdown-item text-muted fw-bold" href="{% url 'account_reset_password' %}">
                    Esqueceu a senha?
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}