{% extends "base.html" %}

{% load static i18n %}

{% block title %}Redefinir Senha{% endblock %}

{% block base %}


<div class="container p-4">
    <div class="col-11 col-lg-5 card border-0 shadow-lg m-auto p-4">
        <div class="card-body mt-1">
            <div class="card-title d-flex justify-content-center mb-4 pb-1">
                <a class="logo d-flex gap-2 text-decoration-none" href="/">
                    <img src="{% static 'img/logo.png' %}">
                    <h6 class="m-auto ps-1 fs-4 text-dark text-uppercase">Original</h6>
                </a>
            </div>
            <div>
                <h5 class="text-center">Redefinir da senha</h5>
                <p class="text-muted font-weight-bold" style="font-size: 14px;">Digite seu endereço
                    de e-mail abaixo e enviaremos um link permitindo que você a redefina.</p>
            </div>
            <form class="d-flex flex-column justify-content-center" id="formLogin" method="POST"
                action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.non_field_errors }}</strong>
                </div>
                {% endif %}
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" autocomplete="email" maxlength="320" required
                        id="id_email" placeholder="Endereço de e-mail">
                    <div class="invalid-feedback">Por favor, entre com seu usuário e senha.</div>
                    <label for="id_email" class="form-label">E-mail</label>
                </div>
                <button type="submit">Redefinir a minha senha</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}