<!-- lista_alunos.html -->
{% extends 'index.html' %}

{% load static %}

<title> {% block title %} Serviços {% endblock title%} </title>


{% block index %}

<div class="container">
    {% for d in representante %}
    <div class="card mb-2">
        <div class="card-header d-lg-flex justify-content-between justify-content-lg-between align-items-center">
            <h6 class="col-lg-4 text-center text-lg-start 
                fs-5 fw-bold mb-0">Dados do Representante</h6>
        </div>
        <div class="card-body p-0 px-3">
            <div class="form-floating">
                <div class="cabecalho row">
                    <div class="col-12 col-lg-6">
                        <label class="text-muted" for="">Representante</label>
                        <h6>{{ d.nome }}</h6>
                    </div>
                    <div class="col-12 col-lg-2">
                        <label class="text-muted" for="">Região</label>
                        <h6>{{ d.regiao|default:"" }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted" for="">Telefone</label>
                        <h6>{{ d.tel_principal|default:"" }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted" for="">Telefone</label>
                        <h6>{{ d.tel_contato|default:"" }}</h6>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label class="text-muted" for="">Nome Fantasia</label>
                        <h6>{{ d.nome_fantasia }}</h6>
                    </div>
                    <div class="col-6 col-lg-6">
                        <label class="text-muted" for="">Email</label>
                        <h6>{{ d.email|default:"" }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted" for="">CPF</label>
                        <h6>{{ d.cpf|default:"" }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted" for="">CNPJ</label>
                        <h6>{{ d.cnpj|default:"" }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted" for="">MEI</label>
                        <h6>{{ d.mei|default:"" }}</h6>
                    </div>
                    <div class="col-6 col-lg-2">
                        <label class="text-muted" for="">Insc.Est.</label>
                        <h6>{{ d.insc_estadual|default:"" }}</h6>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label class="text-muted" for="">Rua</label>
                        <h6>{{ d.logradouro|default:"" }}</h6>
                    </div>
                    <div class="col-2 col-lg-1">
                        <label class="text-muted" for="">Número</label>
                        <h6>{{ d.numero|default:"" }}</h6>
                    </div>
                    <div class="col-3 col-lg-1">
                        <label class="text-muted" for="">Complemento</label>
                        <h6>{{ d.complemento|default:"" }}</h6>
                    </div>
                    <div class="col-7 col-lg-2">
                        <label class="text-muted" for="">Bairro</label>
                        <h6>{{ d.bairro|default:"" }}</h6>
                    </div>
                    <div class="col-8 col-lg-3">
                        <label class="text-muted" for="">Cidade/UF</label>
                        <h6>{{ d.cidade|default:"" }}/{{ d.estado|default:"" }}</h6>
                    </div>
                    <div class="col-4 col-lg-2">
                        <label class="text-muted" for="">Cep</label>
                        <h6 style="font-size:14px;">{{ d.cep|default:"" }}</h6>
                    </div>
                    <div class="col-12 col-lg-6">
                        <label class="text-muted" for="">Situação</label>
                        {% if d.status_representante == True %}
                        <h6>Ativo</h6>
                        {% else %}
                        <h6>Inativo</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="container">
        <div class="row gap-3 justify-content-center  mb-2">
            <div class="card col-12 col-md p-4 bg-light">
                <div
                    class="d-flex justify-content-between align-items-center justify-content-md-center justify-content-xl-between">
                    <div
                        class="imageBlock d-flex align-items-center justify-content-center bg-white d-md-none d-xl-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                            class="iconify iconify--mdi" width="1em" height="1em" viewBox="1 0 22 22">
                            <path fill="currentColor" d="M3 22V8h4v14H3m7 0V2h4v20h-4m7 0v-8h4v8h-4Z"
                                style="color: rgb(255, 180, 0);">
                            </path>
                        </svg>
                    </div>
                    <div class="">
                        <span class="">A Pagar(R$)</span>
                        <div class="d-flex align-items-center justify-content-end">
                            <h6 class="">{{ apagar|floatformat:2 }}</h6>
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md p-4 bg-light">
                <div
                    class="d-flex justify-content-between align-items-center justify-content-md-center justify-content-xl-between">
                    <div
                        class="imageBlock d-flex align-items-center justify-content-center bg-white d-md-none d-xl-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" font-size="1.5rem"
                            class="iconify iconify--mdi" width="1em" height="1em" viewBox="1 0 22 22">
                            <path fill="currentColor"
                                d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15Z"
                                style="color: rgb(86, 202, 0);"></path>
                        </svg>
                    </div>
                    <div class="text-end">
                        <span class="">Pagamentos Realizados(R$)</span>
                        <div class="d-flex align-items-center justify-content-end">
                            <h6 class="">{{ pagas|floatformat:2 }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="filters card border-1  mb-2">
        <div class="card-header">
            <label class="fs-5 fw-bold">Filtro de pagamentos</label>
        </div>
        <div class="card-body row label">
            <form method="GET">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-1 ml-2 ml-lg-0">
                        <label>Periodo</label>
                    </div>
                    <div class="col-12 col-lg-4 d-flex gap-3 ml-2 ml-lg-0">
                        <input type="date" id="data_ini" name="data_ini" class="form-control form-control-sm"
                            placeholder="Data de início" value="{{ data_ini }}">
                        <input type="date" id="data_fim" name="data_fim" class="form-control form-control-sm"
                            placeholder="Data fim" value="{{ data_fim }}">
                    </div>
                    <div class="col-12 col-lg-1 mt-2 mt-lg-0 ml-2 ml-lg-0 ">
                        <button type="submit" class="btn btn-primary btn-sm" value="Pesquisar">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="filters card border-1">
        <div class="card-header">
            <label class="fs-5 fw-bold">Lista de Serviços</label>
        </div>
        <div class="table-responsive p-3">
            <table class="table" id="id_table">
                <div class="col-12 d-flex justify-content-end">
                    <a class="btnMaster px-2" href="{% url 'representante:servicoCreate' id %}">Novo Serviço
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </a>
                </div>
                <thead>
                    <tr>
                    <tr>
                        <th>Cliente</th>
                        <th>Produtos</th>
                        <th>Recebido</th>
                        <th>Entregue</th>
                        <th>Valor</th>
                        <th>Pagamento</th>
                        <th class="text-center">Ação</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    {% for servico in servicos %}
                    <tr>
                        <td>{{ servico.cliente|truncatechars:40 }}</td>
                        <td>
                            <ul class="ps-0">
                                {% for produto in servico.produto.all %}
                                {{ produto.nome }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ servico.data_recebimento|date:"d/m/y" }}
                        <td>{{ servico.data_entrega|date:"d/m/y" }}
                        <td>R$ {{ servico.valor|default:"" }}</td>
                        <td>{{ servico.data_pagamento|date:"d/m/y" }}
                        <td class="text-center">
                            <abbr title="Editar">
                                <a href="{% url 'representante:servicoUpdate' servico.id %}">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </abbr>
                            <abbr title="Excluir">
                                <a href="{% url 'representante:servicoDelete' servico.id %}">
                                    <i class="fa fa-close no"></i>
                                </a>
                            </abbr>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="{% static 'js/jqueryDataTable.js' %}"></script>
<script>
    function filtro() {
        let dataInicio = document.getElementById('data_ini')
        let datafim = document.getElementById('data_fim')
    };

    $(document).ready(function () {
        $('#id_table').DataTable({
            "order": [[0, 'desc']],
            "pageLength": 100,
            "language": {
                "sProcessing": "Proccesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "Nenhum resultado encontrado",
                "sEmptyTable": "Nenhum dado disponivel",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de um total de 0 registros",
                "sInfoFiltered": "(filtrado de um total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Carregando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Seguinte",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Ativar para ordenar a coluna de maneira ascendente",
                    "sSortDescending": ": Ativar para ordenar a coluna de maneira descendente"
                }
            }
        }

        );
    }); 
</script>
{% endblock %}